* {
    box-sizing: border-box;
    font-family: var(--font-family-sans-serif);
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
a:visited {
    text-decoration: none;
}
/***********************************
            NAV
 ***********************************/

nav {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

}

nav>h5 {
    font-size: 1.25rem;
    font-weight: 400;
}

.nav-right-part {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-right-part>a {
    padding: .5rem;
    text-decoration: none;
    background-color: transparent;
}

.nav-sign-up,
btn {
    border-radius: 0.25rem;
    background-color: var(--white);
    color: var(--blue);
    border-color: var(--blue);
    padding: 0.375rem 0.75rem;
    border: 1px solid var(--blue);
    margin-left: 1.5rem;
}

/***********************************
*            BODY
 ***********************************/
body {
    margin: 0; /* No margin for the navbar */
}

.p-intro {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
}

.body-text {
    text-align: center;
}
.body-text>h1 {
    font-size: 3.5rem;
    font-weight: 300;
}

hr {
    width: 40%;
    margin: 30px auto 30px auto;
    color: var(--secondary);
}

/***********************************
            OFFER BOX (position)
 ***********************************/


.offer-container {
    display: flex;
    justify-content: center;
}

.offer-box {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    min-width: 290px;
}

.offer-box.pro {
    margin: 0% 2% 0% 2%;
}

/***********************************
            OFFER BTN 
 ***********************************/
.btn {
    display: block;
    text-align: center;
    margin: auto;
    min-width: 100%;
}

.btn-free {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    background-color: var(--white);
    color: var(--blue);
    border-color: var(--blue);
    border: 1px solid var(--blue);
}


.blue-btn {
    background-color: var(--blue);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: var(--white);
}

/***********************************
            OFFER BOX (style)
 ***********************************/

.offer-box>h1 {
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    font-weight: 400;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.content-box {
    padding: 1.25em;
}

.list-offer-box {
    list-style-type: none;
}

p {
    text-align: center;
}

em {
    font-style: normal;
}
#number {
	font-size: 2em;
	font-weight: bold;
}
#mo {
	font-size: 1.5em;
	color: darkgrey;
}

/***********************************
            FOOTER
 ***********************************/

footer {
    display: flex;
    justify-content: center;
}

.list-footer {
    list-style-type: none;
    padding-left: 0;
}

.col2,
.col3,
.col4 {
    margin: 0% 3% 0% 3%;
}

div>h5 {
    font-size: 1.1rem;
}

.p-footer {
    text-align: left;
}

h5 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
/***********************************
            Media -Queries
 ***********************************/
/** TODO **/